html {
  font-size: rem(16);
  min-height: 100%;
  font-family: sans-serif; }

html * {
  outline: 0;
  -webkit-tap-highlight-color: transparent; }

body, div, span, small, p, em, i, b, th, td, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, textarea, input {
  padding: 0;
  margin: 0; }

a, i, img {
  -webkit-touch-callout: none; }

a {
  cursor: pointer;
  text-decoration: none; }

a img {
  border: none; }

ul, ol {
  list-style: none; }

i {
  font-style: normal; }

s {
  text-decoration: none; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

input:focus, select:focus, textarea:focus, select:hover, button {
  margin: 0;
  outline: none; }

input, button {
  background-image: none; }

input[type=text], input[type=password], textarea {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  tap-highlight-color: transparent; }

.italic {
  font-style: italic; }

.page {
  overflow: hidden;
  min-width: 100%;
  position: relative; }

.menu {
  position: relative;
  width: 100%;
  background-color: black;
  height: 30px; }

.toolbar {
  position: relative;
  width: 100%;
  background-color: grey;
  height: 40px; }
